.filterProducts{margin: 40px 0;}
.filterProducts .fx-filterProducts{gap: 32px;}
.filterProducts .filter{
    display: flex;
    gap: 1.5rem;
    width: 25%;
}
.filterProducts .fxHead-Filter{
  gap: 5px;
  margin-bottom: 1.5rem;
}
.filterProducts .filter .btnGreenFilter{
  width: max-content;
  gap: 12px;
  padding: 14px 2rem;
  border-radius: 43px;
}
.filterProducts .filter .filterStyle{
    padding-bottom: 1rem;
    border-bottom: 1px solid #E1E0E0;
}
.filterProducts .filter .filterStyle:last-child{border-bottom: none;}
.filterProducts .filter .filterStyle .titleFilter{
  margin-bottom: 1.7rem;
  cursor: pointer;
}
.filterProducts .filter h2{
    color: #000;
    padding-bottom: 18px;
    border-bottom: 1px solid #E1E0E0;
    width: 100%;
}

.filterProducts .filter .list-checkbox{
  gap: 15px;
  display: flex;
}
.filterProducts .filter .dis-block{display: block;}
.filter .checkbox-group label{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* Import Google Font - Poppins */
.filterPrice .price-input {
  width: 100%;
    display: flex;
    align-items: end;
    margin-bottom: 1.5rem;
    gap: 14px;
}
.filterPrice .price-input .field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 47%;
}
.filterPrice .price-input .field .separator{
 width: 6%;
}
.filterPrice .field label{
  display: block;
}
.filterPrice .field input {
padding:0.5rem 1rem;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  background: #FFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.filterPrice .slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.filterPrice .slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #6AA632;
}
.filterPrice .range-input {
  position: relative;
}
.filterPrice .range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.filterPrice input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #6DA117;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.filterPrice input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #6DA117;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.filterPrice .fx-priceAmount{margin-top: 1rem;}
.filterPrice .priceAmount{gap: 4px;}
.filterPrice .fx-priceAmount .btnFilterPrice{
  border-radius: 10px;
  background: #E5E7EB;
  padding: 10px 18px;
}
/* Side Products */

.filterProducts .products{width: 75%;}
.filterProducts .products .fx-pages{
  justify-content: space-between;
  align-items: center
}
.filterProducts .products .fx-pages .lines{
    position: relative;top: 0;right: 0;  direction: rtl;
    display: none;
}
.filterProducts .products .fx-pages .lines.active{display: none;}
.filterProducts .products .fx-pages .lines:hover {
  cursor: pointer;
}
.filterProducts .products .fx-pages .lines div {
  background-color:#6DA117 ;
  border-radius: 1px;
  height: 3px;
  width: 22.42px;
}
.filterProducts .products .fx-pages .lines .div1{
  width: 25.11px;
}
.filterProducts .products .fx-pages .lines .div2 {
  width: 18.63px;
}
.filterProducts .products .fx-pages .lines .div3{
  width: 12.55px;
}
.filterProducts .products .fx-pages .lines div:not(:last-child) {
  margin-bottom: 5px;
}
.filterProducts .products .fx-sorting{gap: 0.5rem;}
.filterProducts .products .fx-sorting .divSort{position: relative;}
.filterProducts .products .fx-sorting .btnSort{
  border-radius: 4px;
  border: 1px solid #E6E6E6;
    background: #FFF;
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.filterProducts .products .fx-sorting .btnSort:hover{transform: scale(0.98);}
.filterProducts .products .fx-sorting .listSorting{
    display: none;
    position: absolute;
    gap: 0px;
    flex-direction: column;
    padding: 8px 0;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 99;
    background: #fff;
}
.filterProducts .products .fx-sorting .listSorting button{
    background: none;
    text-align: start;
    font-size: 15px;
    transition: 0.3s;
    padding: 8px 16px;
    border-radius: 0px 0px 10px 10px;
    background: #FFF;
    width: 100%;
}
.filterProducts .products .fx-sorting .listSorting button:hover{
    background: #f7ffea;
    transform: scale(0.98);
}
  .filterProducts .products .fxProducts{margin-top: 38px;}
  .filterProducts .divBanner{
      aspect-ratio: 16/4;
      margin-top: 2rem;
  }
.fx-filterProducts .divBanner img{
    border-radius: 20px;
  }
.btnFilterList {
    display: none;
    align-items: center;
    padding: 0 1rem;
    height: 45px;
    width: 100%;
    background: transparent;
    border-radius: 10px;
    border: 1px solid var(--Color5, #d1d1d1);
    justify-content: space-between;
    margin-bottom: 24px;
}
.btnFilterList span {
    text-transform: capitalize;
    font-size: 13px;
}
.btnFilterList img {
    transform: rotate(90deg);
}
.btnCloseFilter{
    display: none;
    align-items: center;
    justify-content: center;
    background: #6AA632;
    border-radius: 50%;
    position: absolute;
    right:1.5rem;
    top: 0.5rem;
    width: 25px;
    height: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
 .rotate-up {
      transform: rotate(180deg);
      transition: transform 0.3s ease;
    }
  .rotate-down {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }
  .listShow {
    display: none;
    margin-top: 10px;
  }
@media (min-width:1920px) {
    .filterProducts .filter .btnGreenFilter{padding: 1rem 2.5rem;}
    .filterProducts .filter .btnGreenFilter svg{width: 30px;height: 30px;}
    .filterProducts .filter .list-checkbox{gap: 1.4rem;}
    .filterProducts .filter{gap: 2rem;}
}
@media (min-width:2048px) {
}
@media (min-width:2304px) {

}
@media (min-width:3072px) {

}
@media (max-width:1396.36px) {

}
@media (max-width:1228.8px) {
 .filterProducts .filter .list-checkbox{gap: 10px;}
 .filter .checkbox-group label{gap: 7px;}
      .filterProducts .filter .btnGreenFilter{padding: 10px 20px;}
}
@media (max-width:1024px) {
  .filterProducts .products .fxProducts{margin-top: 28px;}
  .filterProducts .fxHead-Filter{margin-bottom: 1rem;}
}
@media (max-width:877.71px) {
    .filterProducts .products .fxProducts{margin-top: 20px;}
    .filterProducts .products .fx-sorting .btnSort svg{width: 13px;height: 13px;}
    .filterProducts .products .fx-sorting .btnSort{padding: 8px;}
    .filterProducts .fxHead-Filter{margin-bottom: 0.8rem;}
    .fx-filterProducts .divBanner img{border-radius: 15px;}
    .filterProducts .products .fxProducts,
      .filterProducts .divBanner{margin-top: 20px;}
}
@media (max-width:768px ) {
    .filterProducts .products .fx-sorting .btnSort{padding: 5px;}
    .fx-filterProducts .divBanner img{border-radius: 10px;}
    .filterProducts .products .fxProducts,
      .filterProducts .divBanner{margin-top: 1rem;}
}
@media (max-width:614.4px) {

  .filterProducts .filter{
    position: fixed;
    top: 0;
    display: none;
    background: #fff;
    z-index: 999;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 24px;
    padding-top: 3rem;
    left: 0;
    gap: 1rem;
    border-radius: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  .filterProducts .products .fx-pages .lines{
    display: block;
    top: 3.5rem;
    position: absolute;
    right: 2rem;
  }
  .filterProducts .products{width: 100%;}
  .filterProducts{margin: 32px 0;}
  .filterProducts .products .fx-sorting{gap: 4px;}
  .filterProducts .products .fx-sorting .btnSort{padding: 6px 10px;gap: 4px;}
  .btnFilterList {display: flex;}
  .filterProducts .filter .btnGreenFilter{display: none !important;}
  .btnCloseFilter{display: flex;}
  .filterProducts .fxHead-Filter svg{width: 13px;height: 13px;}
}
@media (max-width:512px) {
}