footer{
    background: #272626;
    padding: 100px 0 0 0;
}
footer .fx-footer{
    gap: 100px;
    align-items: normal;
    justify-content: start;
}
footer .fx-footer .footer-part1{
    flex: 1 1 calc(30% - 100px);
    max-width: calc(30% - 0px);
}
footer .fx-footer .footer-part1 h1{margin-bottom: 10px;}
footer .fx-footer .footer-part1 p{
    margin-bottom: 20px;
    color: #808080;
    line-height: 150%;
}
footer .fx-footer .footer-part1 span{
    margin-bottom: 8px;
    opacity: 0.6;
    color: #fff;
    font-size: 10px;
}
footer .fx-footer .footer-part1 .fx-images{gap: 20px;}
footer .fx-footer .footer-part1 .fx-images img{width: 100%;}
footer .fx-footer .footer-part1 .fxContact{gap: 10px;}
footer .fx-footer .footer-part2{
    flex: 1 1 calc(45% - 100px);
    max-width: calc(45% - 0px);
    gap: 32px;
}
footer .fx-footer .footer-part2 .footer-part{
    flex: 1 1 calc(33.3% - 32px);
    max-width: calc(33.3% - 0px);
}
footer .fx-footer .footer-part2 .footer-part h5{
    line-height: 150%;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    white-space: pre;
}
footer .fx-footer .footer-part .fx-footer-links{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
footer .footer-part2 .footer-part a{
    text-decoration: none;
    display: block;
    transition:all 0.3s ease;
}
footer .footer-part2 .footer-part a:hover{
    text-decoration: underline;
}
footer .fx-footer .footer-part3{
    flex: 1 1 calc(25% - 100px);
    max-width: calc(25% - 0px);
}
footer .fx-footer .footer-part3 img{width: 100%;}
footer .fx-footer .footer-part3 h2{margin-bottom: 1.2rem;}
footer .fx-footer .footer-part3 .fx-images{gap: 8px;}
footer .down-footer{
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top: 100px;
    background: #1A1A1A;
    box-shadow: 0 -1px 0 0 #333;
}
footer .down-footer .socialMedia-icons{gap: 8px;}
@media (min-width:1706.67px) {
    footer .down-footer .socialMedia-icons .socialMedia{width: 50px;}
     footer .down-footer .socialMedia-icons .mediaIcon{width: 60px;}
     footer .fx-footer .footer-part .fx-footer-links{gap: 1rem;}
}
@media (min-width:1920px) {
    footer .down-footer .socialMedia-icons .socialMedia{width: 60px;}
    footer .down-footer .socialMedia-icons .mediaIcon{width: 70px;}
    footer .fx-footer .footer-part .fx-footer-links{gap: 1.5rem;}
}
@media (min-width:2048px) {

}
@media (min-width:2304px) {

}
@media (min-width:3072px) {

}
@media (max-width:1396.36px) {
footer .fx-footer{gap:80px;}
 footer .fx-footer .footer-part1{
    flex: 1 1 calc(30% - 80px);
    max-width: calc(30% - 0px);
}
 footer .fx-footer .footer-part2{
    flex: 1 1 calc(45% - 80px);
    max-width: calc(45% - 0px);
    }
    footer .fx-footer .footer-part3{
        flex: 1 1 calc(25% - 80px);
        max-width: calc(25% - 0px);
    }
}
@media (max-width:1228.8px) {
 footer{padding-top: 90px;}
 footer .down-footer{margin-top: 60px;}
 footer .fx-footer{gap:60px;}
 footer .fx-footer .footer-part1{
    flex: 1 1 calc(30% - 60px);
    max-width: calc(30% - 0px);
}
 footer .fx-footer .footer-part2{
    flex: 1 1 calc(45% - 60px);
    max-width: calc(45% - 0px);
    }
    footer .fx-footer .footer-part3{
        flex: 1 1 calc(25% - 60px);
        max-width: calc(25% - 0px);
    }
}
@media (max-width:1024px) {
 footer .fx-footer .footer-part1{
    flex: 1 1 calc(50% - 60px);
    max-width: calc(50% - 0px);
}
    footer .fx-footer .footer-part2{
        flex: 1 1 calc(50% - 60px);
        max-width: calc(50% - 0px);
    }
    footer .fx-footer .footer-part3{
        flex: 1 1 calc(50% - 60px);
        max-width: calc(50% - 0px);
    }
    footer{padding-top: 60px;}
    footer .down-footer{margin-top: 32px;}
}
@media (max-width:877.71px) {
    footer .down-footer .socialMedia-icons .socialMedia{width: 30px;}
}
@media (max-width:768px) {

}
@media (max-width:614.4px) {
    footer .fx-footer{gap: 2rem;}
    footer .fx-footer .footer-part1{
        flex: 1 1 calc(100% - 2rem);
        max-width: calc(100% - 0px);
    }
    footer .fx-footer .footer-part2{
        flex: 1 1 calc(100% - 2rem);
        max-width: calc(100% - 0px);
    }
    footer .fx-footer .footer-part3{
        flex: 1 1 calc(100% - 2rem);
        max-width: calc(100% - 0px);
    }
    footer .down-footer{flex-direction: column;gap: 1.5rem;}
}
@media (max-width:512px) {
}