.orderCompleted{margin: 60px 0;}
.orderCompleted .completed{margin-bottom: 70px;}
.orderCompleted .completed img{margin-bottom: 20px;}
.orderCompleted .completed h1{margin-bottom: 1rem;}
.orderCompleted .fx-ordersSummary{
    gap: 1.6rem;
    margin: auto;
    width: 60%;
}
.orderCompleted .fx-ordersSummary .border-orderSummary{
    width: 50%;
}
.orderCompleted .divTable{
    margin: auto;
    width: 60%;
    margin-bottom: 10px;
}
.orderCompleted .fxBtnsPage{
    margin: auto;
    width: 60%;
    margin-top: 20px;
}
.orderCompleted .fxBtnsPage .btnOutline{
    border-radius: 43px;
    border: 1px solid  #272626;
}
.orderCompleted .fxBtnsPage .btnGreen{
    border-radius: 43px;
    background: linear-gradient(89deg,  #6AA632) 6.91%, #B9DE60 100%;
}
.orderCompleted .fxBtnsPage .widthBtns{
    width: 45%;
}
.orderCompleted .fxBtnsPage button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
@media (min-width:1706.67px) {
}
@media (min-width:1920px) {
}
@media (min-width:2048px) {
}
@media (min-width:2304px) {

}
@media (min-width:3072px) {

}
@media (max-width:1396.36px) {
    .orderCompleted .completed{margin-bottom: 3rem;}
}
@media (max-width:1228.8px) {
    .orderCompleted .completed{margin-bottom: 2.5rem}
    .orderCompleted .fx-ordersSummary,
    .orderCompleted .divTable,
    .orderCompleted .fxBtnsPage{width: 70%;}
}
@media (max-width:1024px) {
    .orderCompleted .completed{margin-bottom: 2rem}
    .orderCompleted .fx-ordersSummary,
    .orderCompleted .divTable,
    .orderCompleted .fxBtnsPage{width: 75%;}
}
@media (max-width:877.71px) {
    .orderCompleted .fx-ordersSummary,
    .orderCompleted .divTable,
    .orderCompleted .fxBtnsPage{width: 85%;}
}
@media (max-width:768px) {
    .orderCompleted .completed{margin-bottom: 1.5rem}
}
@media (max-width:614.4px) {
    .orderCompleted .fx-ordersSummary{flex-direction: column;gap: 0.6rem;}
    .orderCompleted .fx-ordersSummary .border-orderSummary{width: 100%;}
    .orderCompleted .fx-ordersSummary,
    .orderCompleted .divTable, 
    .orderCompleted .fxBtnsPage{width: 90%;flex-direction: column;gap: 1rem;}
    .orderCompleted .fxBtnsPage .widthBtns{width: 80%;}
    .orderCompleted .completed img{width: 30%;}
}
@media (max-width:512px) {
}