  
.shoppingCart{margin: 60px 0 0 0;}
.shoppingCart .fx-shoppingCart{gap: 75px;}
.shoppingCart .shoppingCart-part1{width:70%;margin-bottom: 5rem;}
/* Change Location Style */
.shoppingCart .shoppingCart-part1 .orderType{
    gap: 1.5rem;
    border-radius: 8px;
    border: 1px solid #E6E6E6;
    background: #FFF;
    padding: 20px;
    margin-bottom: 20px;
}
.shoppingCart .shoppingCart-part1 .orderType .orderTypeBtns{
    width: 80%;gap: 1.2rem;
}
.shoppingCart .shoppingCart-part1 .orderType button{
    width: 50%;
    border-radius: 7px;
    background: none;
}
.shoppingCart .shoppingCart-part1 .divChangeLocation{position: relative;}
.shoppingCart .shoppingCart-part1 .changeLocation{
    width: 100%;
    border-radius: 10px;
    padding: 0 14px;
    border: 1px solid  #EDF1F3;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(228, 229, 231, 0.24);
    align-items: center;
    margin-bottom: 30px;
}
.shoppingCart .shoppingCart-part1 .itemLocation{gap:10px;height: max-content;}
.shoppingCart .shoppingCart-part1 .itemLocation .locationName{
    font-size: 10px;
    margin-bottom: 2px;
}
.shoppingCart .shoppingCart-part1 .itemLocation img{
    width: 35px;
    height: 35px;
}
.shoppingCart .shoppingCart-part1 .listChangeLocation{
    padding: 1rem;
    background: #fff;
    border-radius: 24px;
    flex-direction: column;
    width: 100%;
    position: absolute;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    z-index: 10;
    top: 100%;
    display: none;
}
.shoppingCart .shoppingCart-part1 .listChangeLocation::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(232, 232, 232, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.shoppingCart .shoppingCart-part1 .listChangeLocation::-webkit-scrollbar
{
  width: 3px;
	background-color: #F5F5F5;
    object-fit: contain;
}
.shoppingCart .shoppingCart-part1 .listChangeLocation::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(235, 235, 235, 0.3);
	background-color: #48660E ;
}
.shoppingCart .shoppingCart-part1 .listChangeLocation .itemLocation{
        transition: 0.3s;
        padding:10px;
}
.shoppingCart .shoppingCart-part1 .listChangeLocation .itemLocation:hover{
    background: #f0f0f0;
    border-radius: 10px;
    cursor: pointer;
}
.shoppingCart .shoppingCart-part1 .listChangeLocation button{
    border-radius: 10px;
    border: 1px dashed #6DA117;
    background: #F9F9F9;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    width: 30%;
    margin-top: 16px;
}
.shoppingCart .shoppingCart-part1 .listChangeLocation button span {
    color: #6DA117;
    letter-spacing: -0.333px;
}
/* End Change Location Style */
.shoppingCart .shoppingCart-part1 .form-group{gap: 8px;margin-bottom: 20px;}
.shoppingCart .shoppingCart-part1 .form-group .w50{width: 50%;}
.shoppingCart .shoppingCart-part1 .form-group .gap-fxBox{gap: 32px;}
.shoppingCart .shoppingCart-part1 .form-group .fxBox-input{
    gap: 8px;
    border-radius: 10px;
    border: 1px solid #EDF1F3;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(228, 229, 231, 0.24);
    padding: 0 14px;
    align-items: center;
    position: relative;
}
.shoppingCart .shoppingCart-part1 .form-group .fxBox-input input{
    height: 100%;
    width: 100%;
}
.shoppingCart .shoppingCart-part1 .form-group .fxBox-input input {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    opacity: 0;
}
.shoppingCart .shoppingCart-part1 .form-group .fxBox-input span{
    color: rgba(7, 37, 6, 0.40);
}
.shoppingCart .shoppingCart-part1 .fxForms{
    gap: 1.5rem;
}
.shoppingCart .shoppingCart-part1 .fxForms .w50{
    width: 50%;
}
.shoppingCart .shoppingCart-part1 .checkbox-group label span{padding: 0 10px;}
.shoppingCart .shoppingCart-part1 .checkbox-group input{width: 17px;height: 17px;}
.shoppingCart .about-ShoppingCart {
    gap: 1.5rem;
    align-items: center;        
    margin-top: 24px;
    border-radius: 8px;
    border: 1px solid #E6E6E6;
    background: #FFF;
    padding: 20px;
    margin-bottom: 100px;
}
.shoppingCart .shoppingCart-part1 .checkbox-group input:checked + label:after{top: 3px;}
.shoppingCart .about-ShoppingCart .fx-applyCoupon{
    gap: 12px;
    border-radius: 46px;
    border: 1px solid #E6E6E6;
    background: #FFF;
    width: 80%;
    padding-left: 1rem;
    justify-content: space-between;
}
.shoppingCart .about-ShoppingCart .fx-applyCoupon button{
    height: 100%;
    width: 30%;
    border-radius: 43px;
}
.shoppingCart .about-ShoppingCart .fx-applyCoupon input{
    width: 70%;
    height: 100%;
    border: none;
    padding: 0;
}
.shoppingCart .about-ShoppingCart h3{white-space: nowrap;}
.shoppingCart .shoppingCart-part2{
    width: 30%;
}

.shoppingCart .shoppingCart-part2 .form {
	margin-top: 20px;
}
 /* Shopping Cart Empty Style */
.shoppingCartEmpty {
    margin-top: 40px;
    margin-bottom: 100px;
}
.shoppingCartEmpty .fx-shoppingCartEmpty{
    align-items: center;
    justify-content: center;
}
.shoppingCartEmpty .fx-shoppingCartEmpty img{width: 35%;object-fit: cover;}
.shoppingCartEmpty .fx-shoppingCartEmpty h3{font-size: 28px;}
/* Payments Methods Style  */
.shoppingCart-part1 .radio-item{
    flex: 1 1 calc(100% - 18px);
    max-width: calc(100% - 0px);
    background: #FBFBFB;
    display: block;
    border-radius: 10px;
    border: 1px solid #EDEDED;
     transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.radio-item.selected {
    border: 2px solid, #6DA117;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}
.shoppingCart-part1 fieldset{gap: 20px;display: flex;flex-direction: column;}
.shoppingCart-part1 fieldset .labelRadio{
    padding: 15px 20px;   
    border-radius: 10px;
}
.shoppingCart-part1 fieldset .labelRadio input{padding: 0;}
.shoppingCart-part1 fieldset .labelRadio .fxLabel{gap: 20px;}
.shoppingCart-part1 .radio-item .gap-formGroup{
    gap: 20px;
    border-top: 1px solid #E9E9E9;
    padding: 20px;
    display: none;
}
.shoppingCart-part1 .radio-item .fx-formGroups{gap: 30px;}
.shoppingCart-part1 .radio-item .fx-formGroups .form-group{
    width: 50%;
    margin-bottom: 0;
}
.shoppingCart-part1 .radio-item .fx-formGroups .form-group label{padding: 0;}
.shoppingCart .shoppingCart-part1 fieldset .checkbox-group{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.shoppingCart .shoppingCart-part1 .checkbox-group label span{padding: 0 6px;}

/* Favorites Page */
 .favoritesSection .favoritesSection-container{
    width: 80%;
    margin: 80px auto;
}
 .favoritesSection .divTable .btnLinear-gradient{
    border-radius: 20px;
    width: 142px;
    height: 45px;
    padding: 0 1.5rem;
 }
  .favoritesSection .divTable .btnLinear-gradient:disabled{
    background: #F2F2F2;
    color: #B3B3B3;
  }
  .favoritesSection .divTable .fxBtnAdd{
    gap: 20px;
    justify-content: center;
  }

.noFavoritesYet{margin: 50px 0;}
.noFavoritesYet .fx-noFavoritesYet img{
aspect-ratio: 16/12;
object-fit: contain;
}
.noFavoritesYet .fx-noFavoritesYet{
    gap: 2.2rem;
    width: 50%;
    margin: auto;
}
.noFavoritesYet .noFavoritesYet-text{
    gap: 1.7rem;
    width:60%;
    margin: auto;
}
.noFavoritesYet .noFavoritesYet-text p,
.noFavoritesYet .noFavoritesYet-text h1{line-height: 140%;}
.noFavoritesYet a{
    width: 100%;
    text-decoration: none;
    width: 40%;
    margin: auto;
    height: 45px;
}
  /* phone input */
    
    .phone-input-container{
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 10px;
        border: 1px solid #E9E9E9;
        background: #FFF;
        height: 55px;
        padding: 0 20px;
    }
    .phone-input-container input{
        background: none;
        width: 80%;
        border: none;
    }  
    .dropdown-phone-btn{
    display: flex;
    align-items: center;
    gap: 4px;
} 
.dropdown-phone-btn span{font-size: 13px;}
.phone-input-container .dropdown-phone-list img,
.flag-size{
    width: 31.304px;
    height: 22.174px;
    object-fit: cover;
    border-radius: 5px;
}
.phone-input-container .dropdown-phone-list {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    width: max-content;
    z-index: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
}
.phone-input-container .dropdown-phone-btn {
    cursor: pointer;
}
.phone-input-container .dropdown-phone-btn p{
    display: flex;
    align-items: center;
    gap: 8px;
}
.phone-input-container .dropdown-phone-btn .arrow-down2{width: 15px;} 
.phone-input-container .dropdown-phone-list p {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #a5a5a5;
}
.phone-input-container .dropdown-phone-list p span{
    font-size: 16px;
}
.phone-input-container .dropdown-phone-list p:hover {
    background-color: #f0f0f0;
}
.phone-input-container .border-input{
   height: 1.5rem;
    width: 0.5px;
    background: #072506;
    opacity: 0.5;
}


.fxTotalCost{
    margin-top: 30px;
}
.fxTotalCost .btnLinear-gradient{width: 70%;}

 @media (min-width:1706.67px) {
    .shoppingCart .about-ShoppingCart .fx-applyCoupon input{height: 70px;}
    .shoppingCartEmpty .fx-shoppingCartEmpty h3{font-size: 30px;}
    .shoppingCart-part1 fieldset .labelRadio {padding: 20px 25px;}
     .favoritesSection .divTable .btnLinear-gradient{width: 162px;height: 50px; }
    .phone-input-container{height: 70px;}
    .dropdown-phone-btn span{font-size: 15px;}
    .noFavoritesYet a{height: 55px;}
}
@media (min-width:1920px) {
    .shoppingCart .about-ShoppingCart .fx-applyCoupon input{height: 80px;}
    .shoppingCartEmpty .fx-shoppingCartEmpty h3{font-size: 33px;}
    .shoppingCart .shoppingCart-part1 .form-group .fxBox-input svg{width: 32px;height: 32px;}
    .shoppingCart-part1 fieldset .labelRadio {padding: 25px 30px;}
    .shoppingCart-part1 .radio-item .gap-formGroup{padding: 30px;gap: 30px;}
    .favoritesSection .divTable .btnLinear-gradient{width: 182px;height:65px;}
    .dropdown-phone-btn span{font-size: 18px;}
    .phone-input-container .dropdown-phone-list img, .flag-size{width: 36px;height: 28px;}
    .noFavoritesYet a{height: 65px;}
    .shoppingCart .shoppingCart-part1 .orderType{padding:  1rem 2rem;}
}
@media (min-width:2048px) { 
    .shoppingCartEmpty .fx-shoppingCartEmpty h3{font-size: 35px;}
    .phone-input-container{height: 80px;}
}
@media (min-width:2304px) {
}
@media (min-width:3072px) {
}
@media (min-width:4608px) {
}
@media (min-width:6144px) {
}
@media (max-width:1228.8px) {
    .shoppingCart .fx-shoppingCart{gap: 40px;}
    .shoppingCart .shoppingCart-part1 .changeLocation{margin-bottom: 22px;}
     .favoritesSection .divTable .btnLinear-gradient{width: 122px;height: 42px; }    .noFavoritesYet .fx-noFavoritesYet{width: 70%;gap: 1.5rem;}
    .noFavoritesYet .noFavoritesYet-text{width: 70%; gap: 1rem;}
    .shoppingCart .about-ShoppingCart .fx-applyCoupon{width: 70%;}
    .shoppingCart .about-ShoppingCart .fx-applyCoupon button{width: 30%;}
}
@media (max-width:1024px) {
    .shoppingCart .shoppingCart-part1{width: 65%;}
    .shoppingCart .shoppingCart-part2{width: 35%;}
    .shoppingCartEmpty .fx-shoppingCartEmpty h3{font-size: 24px;}
    .shoppingCart .shoppingCart-part1 .changeLocation{margin-bottom: 16px;}
    .payment fieldset .labelRadio .fxLabel img{width: 30px;}
    .shoppingCart-part1 fieldset .labelRadio .fxLabel{gap: 15px;}
    .shoppingCart-part1 fieldset .labelRadio{padding: 10px 15px;}
    .shoppingCart-part1 .radio-item .gap-formGroup{padding: 15px;}
    .payment .shoppingCart-part1 .radio-item .fx-formGroups .form-group input{height: 45px;}
    .payment .shoppingCart-part1 .radio-item .fx-formGroups .form-group{gap: 4px;}
    .payment .shoppingCart-part1 .radio-item .labelRadio{border-radius: 10px;}
    .favoritesSection .divTable .btnLinear-gradient{width: 112px;height:38px; }
}
@media (max-width:877.71px) {
    .shoppingCart .shoppingCart-part1{width: 100%;}
    .shoppingCart .shoppingCart-part2{width: 40%;}
    .shoppingCart .fx-shoppingCart{flex-direction: column;gap: 32px;justify-content: center;align-items: center;}
    .favoritesSection .divTable .btnLinear-gradient{padding: 0 1rem;}
    .favoritesSection .favoritesSection-container{width: 90%;}
    .shoppingCart .about-ShoppingCart .fx-applyCoupon{width: 85%;}
    .shoppingCart .about-ShoppingCart{padding: 14px;}
    .shoppingCart .shoppingCart-part1 .form-group .fxBox-input svg{height: 16px;width: 16px;}
}
@media (max-width:768px) {
    .shoppingCart .shoppingCart-part2{width:70%;}
    .favoritesSection .favoritesSection-container{width: 95%;}
}
@media (max-width:614.4px) {
    .shoppingCart{margin: 40px 0;}
    .shoppingCart .shoppingCart-part2{width:100%;}
    .shoppingCart .about-ShoppingCart{flex-direction: column;align-items: start;gap: 1rem;}
    .shoppingCart .about-ShoppingCart .fx-applyCoupon{width: 100%;}
    .shoppingCart .about-ShoppingCart .fx-applyCoupon input{width: 65%;}
    .shoppingCart .about-ShoppingCart .fx-applyCoupon button{width: 35%;}
    .shoppingCart .shoppingCart-part1 .itemLocation img{width: 25px;height: 25px;}
    .shoppingCart .shoppingCart-part1 .listChangeLocation{padding: 12px;}
    .shoppingCart .shoppingCart-part1 .listChangeLocation button{height: 45px;width: 55%;margin-top: 0;}
    .shoppingCart .shoppingCart-part1 .form-group{gap: 4px;}

    .shoppingCart .shoppingCart-part1 .changeLocation{padding: 12px;border-radius: 5px;}
    .shoppingCart-part1 .radio-item .fx-formGroups .form-group{width: 100%;}
    .shoppingCart-part1 .radio-item .fx-formGroups{flex-direction: column;gap: 16px;}
    .payment .shoppingCart-part1 fieldset .labelRadio{padding: 10px;}
    .payment .shoppingCart-part1 fieldset .labelRadio .fxLabel{gap: 12px;}
    .payment fieldset .labelRadio .fxLabel img{width: 25px;}
    .payment .shoppingCart-part1 fieldset{gap: 12px;}
    .payment .shoppingCart-part1 .radio-item .labelRadio span{text-transform: capitalize;font-size: 14px;}
    .payment .shoppingCart-part1 .radio-item .fx-formGroups .form-group label,
    .payment  .shoppingCart .shoppingCart-part1 .checkbox-group label span{font-size: 13px;}
    .payment .shoppingCart-part1 .radio-item .gap-formGroup{gap: 12px;padding: 15px;}
    .payment .checkbox-group label:before{padding: 7px;}
    .payment .checkbox-group input:checked + label:after{
        left: 6px;
        width: 3px;
        height: 9px;
        top: 4px;
    }
    .favoritesSection .favoritesSection-container{width: 97%;margin: 40px 0;}
    .favoritesSection .divTable .btnLinear-gradient{width: 96px;}
    .shoppingCart .fxGuote-text span{font-size: 14px;}
    .shoppingCart .fxGuote-text img{width: 20px;}
    .phone-input-container{padding: 0 10px;height: 40px;}
    .phone-input-container .border-input{height: 27px;}
    .phone-input-container .dropdown-phone-list img, .flag-size{width: 25px;height: 18px;}
    .phone-input-container .dropdown-phone-list p span{font-size: 12px;}
    .phone-input-container .dropdown-phone-list{padding: 6px;}
    .noFavoritesYet .fx-noFavoritesYet{width: 90%;}
    .noFavoritesYet .noFavoritesYet-text{width: 90%; }
    .shoppingCart .shoppingCart-part1{margin-bottom: 0  ;}
    .shoppingCart .shoppingCart-part1 .fxForms,
    .shoppingCart .shoppingCart-part1 .form-group .gap-fxBox{gap: 12px;flex-direction: column;}
    .shoppingCart .shoppingCart-part1 .fxForms .w50,
    .shoppingCart .shoppingCart-part1 .form-group .fxBox-input{width: 100%;}
    .shoppingCart .shoppingCart-part1 .itemLocation .locationName{font-size: 8px;}
    .shoppingCart .shoppingCart-part1 .itemLocation svg{width: 14px;height: 14px;}
    .shoppingCart .shoppingCart-part1 .orderType{gap: 0px;padding: 8px 12px;}
    .shoppingCart .shoppingCart-part1 .orderType .orderTypeBtns{gap: 12px;width: 68%;}
}