.trackYourOrder{
    margin:2rem auto 4rem auto;
}
.trackYourOrder .fx-trackYourOrder{gap: 1.5rem;}
.trackYourOrder .boxIfram{
    width: 50%;
}
.trackYourOrder .boxIfram iframe{height: 70%;}
.trackYourOrder .orderInfo{
    width: 50%;
}
.orderStatus .box-orderStatus{
    gap: 10px;
    justify-content: center;
    padding: 1.5rem 0;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #EDEDED;
    background: #FFF;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}
.orderStatus  .box-orderStatus .lineStep{margin-top: 2.5rem;height: 100%;width: 50px;}
.orderStatus  .box-orderStatus .step-orderStatus h3,
.orderStatus  .box-orderStatus .step-orderStatus svg{
    margin-bottom: 12px;
}
.orderStatus  .box-orderStatus .step-orderStatus span{font-size: 10px;}
.deliveryDetails{margin-bottom: 20px;}
.deliveryDetails h3{margin-top: 30px;}
.deliveryDetails .userDetails{gap: 22px;}
.deliveryDetails .userDetails .userImage{
    border-radius: 5px;
    width: 80px;
    height: 66px;
    object-fit: cover;
}
.deliveryDetails .userDetails h2{line-height: 22px;}
.deliveryDetails .userDetails .fx-reviewsOrder{gap: 10px;}
.deliveryDetails .userDetails .fx-reviewsOrder p{font-size: 10px;}
.deliveryDetails .userDetails .fx-reviewsOrder .fxRate{gap: 5px;}
.deliveryDetails .userDetails .fx-reviewsOrder .fxRate img{
    width: 15px;
    height: 15px;
}
.deliveryDetails .userDetails .fx-reviewsOrder .fxRate span{font-size: 10px;}
.deliveryDetails .box-deliveryDetails{
    margin-top: 30px;
    border-radius: 20px;
    border: 2px solid #EDEDED;
    background: #FFF;
    padding: 10px;
}
.deliveryDetails .box-deliveryDetails  .userInformation{
    gap: 10px;
    margin-top: 30px;
    width: 100%;
}
.deliveryDetails .box-deliveryDetails .userInformation .col-userInformation{
    border-radius: 5px;
    border: 1px solid #EDF1F3;
    background: #FFF;
    height: 100%;
    padding: 15px 10px;
    gap: 8px;
}
.deliveryDetails .box-deliveryDetails  .userInformation .w28{
    flex: 1 1 calc(28% - 10px);
    max-width: calc(28% - 0px);
}
.deliveryDetails .box-deliveryDetails  .userInformation .w44{
    flex: 1 1 calc(44% - 10px);
    max-width: calc(44% - 0px);
}
.deliveryDetails .box-deliveryDetails  .userInformation .w100{
    flex: 1 1 calc(100% - 10px);
    max-width: calc(100% - 0px);
}
.deliveryDetails .box-deliveryDetails .contact-trackOrder a{
    padding: 0 0.5rem;
}
.trackYourOrder .divTable{
    margin-top: 30px;
}
.trackYourOrder .widthBtns{
    width: 70%;
    margin-top: 2.2rem;
    gap: 1rem;
}
.trackYourOrder .widthBtns .btnOutline{
    border-radius: 43px;
    border: 1px solid  #272626;
}
.trackYourOrder .widthBtns .btnGreen{
    border-radius: 43px;
    background: linear-gradient(89deg,  #6AA632) 6.91%, #B9DE60 100%;
}
.trackYourOrder .widthBtns button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.trackYourOrder .detailsOrder{
    gap: 2rem;
    padding: 1rem 0;
    border-radius: 8px 8px 0 0;
    background:  #FFF;
    box-shadow: 0 1px 0 0 #E5E5E5;
    margin-bottom: 30px;
}
.trackYourOrder .detailsOrder ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
@media (min-width:1706.67px) {
    .deliveryDetails .box-deliveryDetails .userInformation,
    .orderStatus .box-orderStatus{justify-content: space-between;}
    .orderStatus .box-orderStatus{padding: 40px 60px;}
    .deliveryDetails .box-deliveryDetails{padding:20px 40px;}
    .deliveryDetails .userDetails .fx-reviewsOrder p{font-size: 15px;}
    .deliveryDetails .userDetails .fx-reviewsOrder .fxRate span{font-size: 14px;}
    .deliveryDetails .userDetails .fx-reviewsOrder{margin-top: 6px;}
}
@media (min-width:1920px) {
    .deliveryDetails .userDetails .userImage {width: 90px;height: 90px;}
    .orderStatus  .box-orderStatus .step-orderStatus svg{width:45px;height:45px;}
}
@media (max-width:1396.36px) {
}
@media (max-width:1228.8px) {
    .deliveryDetails .box-deliveryDetails{padding: 18px;margin-top: 20px;}
    .deliveryDetails h3{margin-top: 20px;}
    .orderStatus .box-orderStatus{padding: 20px 0;}
    .orderStatus  .box-orderStatus .step-orderStatus h3,
    .orderStatus  .box-orderStatus .step-orderStatus svg{margin-bottom: 8px;}
    .orderStatus .box-orderStatus .step-orderStatus img{margin-bottom: 10px;}
    .orderStatus .box-orderStatus .step-orderStatus img{width: 50px;}
    .trackYourOrder .widthBtns{width: 80%;}
}
@media (max-width:1024px) {
    .trackYourOrder .fx-trackYourOrder{gap: 1rem;}
    .orderStatus .box-orderStatus{padding: 1rem 0.5rem;}
    .orderStatus  .box-orderStatus .step-orderStatus svg{width: 24px;height: 24px;}
    .trackYourOrder .widthBtns{width: 90%;}
    .deliveryDetails .box-deliveryDetails  .userInformation .w28{
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 0px);
    }
    .deliveryDetails .box-deliveryDetails  .userInformation .w44{
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 0px);
    }
    .deliveryDetails .box-deliveryDetails .userInformation .col-userInformation{padding: 8px 4px;}
}
@media (max-width:877.71px) {
    .orderStatus .box-orderStatus .step-orderStatus span{font-size: 8px;}
}
@media (max-width:768px) {
}
@media (max-width:614.4px) {
    .trackYourOrder{margin: 50px auto;}
    .trackYourOrder .fx-trackYourOrder{flex-direction: column;}
    .trackYourOrder .orderInfo{width: 100%;}
    .trackYourOrder .boxIfram{width: 100%;}
    .deliveryDetails h3{margin-top: 16px;}
    .deliveryDetails .box-deliveryDetails,
    .orderStatus .box-orderStatus{padding: 16px;margin-top: 16px;}
    .deliveryDetails .box-deliveryDetails{gap: 0.5rem;}
    .orderStatus .box-orderStatus .step-orderStatus h3,
    .orderStatus .box-orderStatus .step-orderStatus img{margin-bottom: 8px;}
    .deliveryDetails .userDetails .userImage{width: 60px;height: 60px;}
    .deliveryDetails .userDetails{gap: 12px;width: 100%;}
    .deliveryDetails .box-deliveryDetails .contact-trackOrder a{padding: 0;}
    .orderStatus .box-orderStatus .step-orderStatus img{width: 40px;}
    .deliveryDetails .box-deliveryDetails  .userInformation .w28{
        flex: 1 1 calc(100% - 10px);
        max-width: calc(100% - 0px);
    }
    .deliveryDetails .box-deliveryDetails  .userInformation .w44{
        flex: 1 1 calc(100% - 10px);
        max-width: calc(100% - 0px);
    }
    .orderStatus .box-orderStatus .step-orderStatus span{font-size: 7px;}
    .trackYourOrder .detailsOrder ul{flex-wrap: wrap;gap: 12px;}
    .trackYourOrder .detailsOrder ul li{width: 45%;}
    .trackYourOrder .detailsOrder h2{white-space: nowrap;}
}
/* Delete Modal  */
.cancelOrderModal{
    padding: 25px 0px 0px 0px;
    position: fixed;
    width: 30%;
    border-radius: 20px;
    background: #FFF;
    z-index: 9999;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow-y: auto;
}
.cancelOrderModal .fxTitles{
    padding-bottom: 1rem;
    width: 90%;
    margin: auto;
    border-bottom: 1px solid #E1E0E0;
}
.cancelOrderModal img{
    width: 115px;
    height: 115px;
    display: block;
    margin:10px auto;
}
.cancelOrderModal p{
    margin-bottom: 38px;
    width: 70%;
}
.cancelOrderModal .fxButtons{
    gap: 21px;
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(353deg, rgba(255, 255, 255, 0.32) -5.37%, #FFF 31.55%);
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.05);
    padding: 25px 32px;width: 100%;
}

.cancelOrderModal .fxButtons button{
    border-radius: 10px;
    width: 50%;
    height: 48px;
    padding: 0;
    font-size: 15px;
}
.cancelOrderModal .fxButtons .btnGreen{
    background: linear-gradient(89deg, #6AA632 10.1%,  #B9DE60 117.68%);
}
.cancelOrderModal .fxButtons .btnOutline-black{
    border: 1px solid  #222835;
}
@media (min-width:1706.67px) {
    .cancelOrderModal .fxButtons button{height: 55px;font-size: 16px;}
}
@media (min-width:1920px) {
    .cancelOrderModal .fxButtons button{ height: 65px;font-size: 19px;}
}
@media (min-width:2048px) {
    .cancelOrderModal{width: 600px;}
}
@media (min-width:2304px) {

}
@media (min-width:3072px) {

}
@media (max-width:1396.36px) {
.cancelOrderModal .fxTitles{padding-bottom: 12px;}
.cancelOrderModal{width: 35%;}
}
@media (max-width:1228.8px) {
.cancelOrderModal{width: 40%;}
}
@media (max-width:1024px) {
    .cancelOrderModal .fxTitles{padding-bottom: 10px;}
}
@media (max-width:877.71px) {
    .cancelOrderModal p{margin-bottom: 1rem;width: 90%;}
    .settingsDiv .boxSettings .boxSettings-content img{width: 38px;height:38px;}
    .settingsDiv .boxSettings{margin-bottom: 20px;}
    .cancelOrderModal .fxTitles{padding-bottom: 6px;}
    .cancelOrderModal{width: 60%;}
}
@media (max-width:768px) {

}
@media (max-width:614.4px) {
    .cancelOrderModal{width: 90%;overflow: hidden;padding-top: 5px;}
    .cancelOrderModal .fxTitles{padding-bottom: 0px;}
    .cancelOrderModal .fxButtons{padding: 10px 24px;gap: 12px;}
    .cancelOrderModal p{margin-bottom: 24px;}
    .cancelOrderModal button{height: 40px;font-size: 13px;}
    .cancelOrderModal .fxButtons button{font-size: 12px;height: 42px;}
    .cancelOrderModal img {width: 90px;height: 90px;}
    
}
@media (max-width:512px) {
}