.contantTexts h2{
       margin-bottom: 22px;
}
.contantTexts p{
    color: #222835;
    white-space:initial;
    opacity: 0.8;
    padding-bottom: 30px;
    display: block;
    white-space: pre-line;
}
.contantTexts p b{
    color: rgba(0, 0, 0, 1);
    padding: 10px 0;
    opacity: 1;
    display: inline-block;
};
.contantTexts p b br{display: none !important;}
.contantTexts .logoHilalMarket{
    margin-bottom: 1.5rem;
    width: 50%;
    display: block;
}
@media (min-width:1706.67px) {
}
@media (min-width:1920px) {
}
@media (min-width:2048px) {

}
@media (min-width:2304px) {

}
@media (min-width:3072px) {

}
@media (max-width:1396.36px) {

}
@media (max-width:1228.8px) {
    
    .contantTexts p{padding-bottom: 20px;}
}
@media (max-width:1024px) {
.contantTexts .logoHilalMarket{margin-bottom: 1rem;}
    .contantTexts p{padding-bottom: 20px;}
    .contantTexts h2{margin-bottom: 16px; }
}
@media (max-width:877.71px) {
    .contantTexts h2{margin-bottom: 16px;}
}
@media (max-width:768px) {

}
@media (max-width:614.4px) {
.contantTexts .logoHilalMarket{margin-bottom: 12rem;}
    .contantTexts p{padding-bottom: 16px;}
    .contantTexts h2{margin-bottom: 14px;}
}
@media (max-width:512px) {
}