
.myOrders table thead tr{
    border-radius: 10px;
    background: #F2F2F2;
}
.myOrders table th,
.myOrders  table td{text-align: center;padding: 1.1rem 0;}
.myOrders .headMyOrders{
    margin-bottom: 1.7rem;
    align-items: center;
}
.myOrders  .fxHeaderForm{
    width: 30%;height: 46px;
    border-radius: 8px;
    border: 1px solid #E6E6E6;
    background: #FFF;
}
@media (min-width:1706.67px) {
    .myOrders table th, .myOrders table td{padding: 1.5rem 0;}
    .userPage .tabsList .tabButton{gap: 14px;}
}
@media (min-width:1920px) {
    .myOrders table th, .myOrders table td{padding: 1.7rem 0;}
}
@media (min-width:2048px) {

}
@media (min-width:2304px) {

}
@media (min-width:3072px) {

}
@media (max-width:1396.36px) {
.myOrders table th, .myOrders table td{padding: 1.1rem 0;}
}
@media (max-width:1228.8px) {
.myOrders table th, .myOrders table td{padding: 0.9rem 0;}
.myOrders .fxHeaderForm{height: 42px;}

}
@media (max-width:1024px) {
    .myOrders .fxHeaderForm{height: 38px;width: 40%;}
    .myOrders .fxHeaderForm svg{width: 15px;height: 15px;}
}
@media (max-width:877.71px) {

}
@media (max-width:768px) {

}
@media (max-width:614.4px) {
    .myOrders table td{white-space: nowrap;}
    .myOrders table th{white-space: normal;}
    .myOrders table th, .myOrders table td {
        padding: 0.9rem 0.6rem;
    }
    .myOrders .headMyOrders{flex-direction: column;align-items: start;gap: 12px;}
    .myOrders .fxHeaderForm{height: 42px;width: 100%;}
    .pagination{margin-top: 1rem;}
}
@media (max-width:512px) {
}