.sectionSubcribe{
    background: #F2F2F2;
    padding: 33px 0;
}
.sectionSubcribe .fxGeneral-cards{gap: 48px;}
.sectionSubcribe .fxGeneral-cards .fxGeneral-card{
        flex: 1 1 calc(33.3% - 48px);
        max-width: calc(33.3% - 0px);
}
.sectionSubcribe .fxGeneral-cards .divImage img{width: 80%;}
.sectionSubcribe .divText h2{
    margin-bottom: 4px;
}
.sectionSubcribe .formSubscribe{
    border-radius: 46px;
    border: 1px solid #E6E6E6;
    background: #FFF;
    height: 52px;
    width: 100%;
}
.sectionSubcribe .formSubscribe input{
    border-radius: 46px;
    border: none;
    height: 100%;
    width: 80%;
}
.sectionSubcribe .formSubscribe button{
    border-radius: 43px;
    width: 40%;
    height: 100%;
    background: linear-gradient(87deg, var(--Color4, #6AA632) 2.28%, var(--Color5, #B9DE60) 108.9%);
}
@media (min-width:1706.67px) {
    .sectionSubcribe .formSubscribe{height: 58px;}
}
@media (min-width:1920px) {
    .sectionSubcribe .formSubscribe{height: 68px;}
}
@media (min-width:2048px) {

}
@media (min-width:2304px) {

}
@media (min-width:3072px) {

}
@media (max-width:1396.36px) {
    .sectionSubcribe .formSubscribe{height: 48px;}
}
@media (max-width:1228.8px) {
    .sectionSubcribe .formSubscribe{height: 45px;}
}
@media (max-width:1024px) {
    .sectionSubcribe .formSubscribe{height: 42px;}
}
@media (max-width:877.71px) {
    .sectionSubcribe .fxGeneral-cards{gap: 24px;}
    .sectionSubcribe .fxGeneral-cards .fxGeneral-card{
            flex: 1 1 calc(33.3% - 24px);
            max-width: calc(33.3% - 0px);
    }
    .sectionSubcribe .formSubscribe{height: 38px;}
    .sectionSubcribe .formSubscribe button{width: 45%;}
}
@media (max-width:768px) {

}
@media (max-width:614.4px) {
    .sectionSubcribe .fxGeneral-cards{gap: 1.5rem;}
    .sectionSubcribe .fxGeneral-cards .fxGeneral-card{
            flex: 1 1 calc(100% - 1.5rem);
            max-width: calc(100% - 0px);
    }
    .sectionSubcribe .formSubscribe input{font-size: 11px;}
}
@media (max-width:512px) {
}